h1 {
    font-size: 50px;
    color: #E7BF70;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 40px
}

body {
    background-color: #2B2B2B;
}

#field td {
    /* Означает взять все тэги td внутри элемента с id=field */
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
    color: #E7BF70;
    /* text-align - Выравнивание элементов внутри объекта */
}

#start-button {
    background-color: #2B2B2B;
    font-size: 20px;
    color: #E7BF70;
    border: 2px solid #4F5151;
    border-radius: 5%;
    width: 200px;
    height: 50px;
}

#start-button:active {
    background-color: #E7BF70;
    color: #2B2B2B;
}
